@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Exo+2&subset=cyrillic');
.bac_grey{
  background-size: cover;
  background: #E6E6FA;
}
@media (min-height: 530px){
  .bac_grey{
    background-size: cover;
    background: #E6E6FA;
    height:100vh;
  }
}
.posish_relative{
  position: relative;
}
.style_lable{
  position: absolute;
  font-size: 16px;
  z-index: 3;
  color: #fff;
  text-transform: uppercase;
  left: 5%;
  font-family: 'Exo 2', sans-serif;
  top: 20%;
  font-weight: 100;
}
.buttom_exit{
  background-color: #0c3d67!important;
  color: #fff;
  text-transform: uppercase;
  width: 60%;
  margin: auto;
  font-family: 'Exo 2', sans-serif;
  font-size: 16px;
}
.buttom_state{
  background-color: #336766 !important;
  color: #fff;
  text-transform: uppercase;
  width: 60%;
  margin: auto;
  font-family: 'Exo 2', sans-serif;
  margin-bottom: 20px;
  font-size: 16px;
}
.buttom_state:hover, .buttom_state:active, .buttom_state:focus, .buttom_state:hover:active{
  background: linear-gradient(to bottom, #6ca5a3, #336766);
}

.buttom_exit:hover, .buttom_exit:active, .buttom_exit:focus, .buttom_exit:hover:active{
  background: linear-gradient(to bottom, #427cad, #0c3d67);
}
.positin_blok{
  padding: 5% 0;
}
.img_kant{
  padding: 3%;
  border: 1px solid #336766;
  margin-top: 20px;
}
.sec_button{
  padding:8% 0;
  text-align: center;
}
.caption_modal_h{
  background:#336766;
  padding: 3%;
  box-shadow: 0 8px 6px -6px #a59d9d;
}
.caption_modal_h h1{
  text-transform: uppercase;
  font-family: 'Exo 2', sans-serif;
  color: #ffffff;
  text-align: center;
  margin: 0;
}
button.close{
  color: #ffffff;
  opacity: .8;
  padding: 0 1%;
}
.no-padding{
  padding: 0;
}
.no-margin{
  margin: 0;
}
.area{
  padding: 5%;
}
.buttom_flight, .buttom_flight:hover, .buttom_flight:active, .buttom_flight:focus, .buttom_flight:hover:active{
  background-color: #336766!important;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  height: 40px;
  /*margin: auto;*/
  font-family: 'Exo 2', sans-serif;
  border: none;
  border-radius: 0;
  font-size: 16px;

}
.pozition_dropdown{
  left: -1.3%;
  top: -22%;
}
.form-control{
  font-size: 16px;
}
.mar_top20{
  margin-top: 20px;
}
.marg_bot10{
  margin-bottom: 10px;
}
.btn_ok,.btn_ok:hover, .btn_ok:active, .btn_ok:focus, .btn_ok:hover:active{
  background-color: #336766 !important;
  border: 1px solid #336766;
  color: #ffffff;
  width: 30%!important;
  font-size: 16px;
}
.btn_cancel, .btn_cancel:hover, .btn_cancel:active, .btn_cancel:focus, .btn_cancel:hover:active {
  background-color: #0c3d67;
  border: 1px solid #0c3d67;
  color: #ffffff !important;
  width: 30% !important;
  font-size: 16px;
  margin: 0;
  margin-left: 5px;
}

.dropdown-menu{
  width: 100%;
}
