<div class="bac_grey">
  <div class="container">
    <div class="row positin_blok">
      <div class="col-md-7">
        <img src="assets\img\karabl.jpg" class="img-responsive img_kant">
      </div>
      <div class="col-md-5 sec_button">
        <nav>
          <a class="btn btn-default buttom_state" routerLink="/general/voyage-condition">Состояние рейса</a>
          <a (click)="style.show()" class="btn btn-default buttom_state">Добавить рейс</a>
          <!--<a class="btn btn-default buttom_state" routerLink="/general/voyage-condition">Состояние рейса</a>-->
          <!--<a class="btn btn-default buttom_state" routerLink="/general/add-voyage">Добавить рейс</a>-->
          <a class="btn btn-default buttom_state" routerLink="/general/add-motor-ship">Добавить теплоход</a>
          <a class="btn btn-default buttom_state" routerLink="/general/add-port">Добавить порт</a>
          <button class="btn btn-default buttom_exit" (click)="logout()">Выйти</button>
        </nav>
      </div>
    </div>
  </div>
</div>

<div mdbModal #style="mdb-modal" class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success" role="document">
    <div class="modal-content">
        <div class="caption_modal_h">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="style.hide()">
            <span aria-hidden="true" class="white-text">×</span>
          </button>
          <h1>Добавить рейс</h1>
        </div>
      <div class="modal-body">
        <div class="row no-margin">
          <div class="area">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle buttom_flight " type="button" id="dropdownMenuButton"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Место отправления
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a></a></li>
              </ul>
            </div>
            <div class="dropdown  mar_top20">
              <button class="btn btn-secondary dropdown-toggle buttom_flight" type="button" id="dropdownMenuButton"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Место прибытия
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a></a></li>
              </ul>
            </div>
            <div class="dropdown  mar_top20">
              <button class="btn btn-secondary dropdown-toggle buttom_flight" type="button" id="dropdownMenuButton"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Выбрать теплоход
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a></a></li>
              </ul>
            </div>
            <input class="form-control  mar_top20" type="text" placeholder="Введите количество топлива">
          </div>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <a type="button" class="btn btn-primary-modal waves-light" mdbRippleRadius (click)="style.hide()">Ок</a>
        <a type="button" class="btn btn-outline-secondary-modal" data-dismiss="modal" (click)="style.hide()"
           mdbRippleRadius>Отмена</a>
      </div>
    </div>
  </div>
</div>
