<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>One fine body&hellip;</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
<div class="bac_grey">
  <div class="container">
    <div class="row positin_blok">
      <div class="col-md-7">
        <img src="assets\img\karabl.jpg" class="img-responsive img_kant">
      </div>
      <div class="col-md-5 sec_button">
        <nav>
          <a class="btn btn-default buttom_state" routerLink="/general/voyage-condition">Состояние рейса</a>
          <a (click)="open(content)" class="btn btn-default buttom_state">Добавить рейс</a>
          <!--<a class="btn btn-default buttom_state" routerLink="/general/voyage-condition">Состояние рейса</a>-->
          <!--<a class="btn btn-default buttom_state" routerLink="/general/add-voyage">Добавить рейс</a>-->
          <a class="btn btn-default buttom_state" routerLink="/general/add-motor-ship">Добавить теплоход</a>
          <a class="btn btn-default buttom_state" routerLink="/general/add-port">Добавить порт</a>
          <button class="btn btn-default buttom_exit" (click)="logout()">Выйти</button>
        </nav>
      </div>
    </div>
  </div>
</div>


