<section class="bac_grey">
  <div class="container">
    <div class="row positin_blok">
      <div class="col-lg-5">

        <img src="assets\img\map.jpg" class="img-responsive img_kant">
      </div>
      <div class="col-lg-7">
        <div class="row no-margin">
          <div class="col-lg-8 no-padding">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle buttom_flight" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Выбрать рейс

              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a *ngFor="let voyage of voyages">{{voyage.name}}</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 no-padding">
            <button class="btn btn-default buttom_exit" (click)="goGeneral()">Назад</button>
          </div>
        </div>
        <div class="blok_log">

          Логи<br>Логи<br>Логи<br>Логи<br>Логи<br>Логи<br>Логи<br>Логи<br>Логи<br>Логи<br>Логи<br>Логи<br>Логи<br>Логи<br>Логи<br>Логи<br>Логи<br>
          Логи<br>Логи<br>Логи<br>Логи<br>Логи<br>Логи<br>Логи<br>Логи<br>Логи<br>Логи<br>Логи<br>Логи<br>Логи<br>Логи<br>
        </div>
      </div>
    </div>
  </div>
</section>
