<section class="bac_grey">
  <div class="container">
    <div class="row positin_blok">
      <div class="col-lg-5 col-md-5">
        <svg style='width: 100%; height: 100%;'>
          <line x1="0" y1="20px" x2="100px" y2="0"
                style="stroke:rgb(255,0,0);stroke-width:2"/>
        </svg>
      </div>
      <div class="col-lg-7 col-md-7">
        <div class="row no-margin">
          <div class="col-lg-8  col-md-8 no-padding">
            <label class="style_lable">Выбрать рейс</label>
            <select class="dropdown-toggle waves-light buttom_flight" [ngModel]="selectVoyage"
                    (ngModelChange)="onChange($event)">
              <option [ngValue]="[voyage]" *ngFor="let voyage of voyages">
                {{voyage.name}}
              </option>
            </select>
          </div>
          <div class="col-lg-4 no-padding">
            <button class="btn btn-default buttom_exit" (click)="goGeneral()">Назад</button>
          </div>
        </div>
        <textarea class="blok_log" [(ngModel)]="this.logs" readonly>
        </textarea>
      </div>
    </div>
  </div>
</section>
