@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Exo+2&subset=cyrillic');
.bac_grey{
  background-size: cover;
  background: #E6E6FA;
}
@media (min-height: 530px){
  .bac_grey{
    background-size: cover;
    background: #E6E6FA;
    height:100vh;
  }
}
.img_kant{
  padding: 3%;
  border: 1px solid #336766;
}
.buttom_flight, .buttom_flight:hover, .buttom_flight:active, .buttom_flight:focus, .buttom_flight:hover:active{
  background-color: #336766!important;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  margin: auto;
  font-family: 'Exo 2', sans-serif;
  border: none;
  border-radius: 0;
  font-size: 16px;
}
.buttom_exit{
  background-color: #0c3d67!important;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  margin: auto;
  font-family: 'Exo 2', sans-serif;
  border: none;
  border-radius: 0;
  font-size: 16px;
}
.buttom_exit:hover, .buttom_exit:active, .buttom_exit:focus, .buttom_exit:hover:active{
  background: linear-gradient(to bottom, #427cad, #0c3d67);
}
.no-padding{
  padding: 0;
}
.no-margin{
  margin: 0;
}
.blok_log{
  height: 500px;
  overflow: scroll;
  background: hsla(179, 34%, 30%, 0.2);
  margin-top: 10px;
  padding: 2%;
}
.positin_blok{
  padding-bottom: 1%;
}
.dropdown-menu{
  width: 100%;
}
* {
  box-sizing: border-box;
}
