<section class="bac_grey">
  <div class="container">
    <div class="row positin_blok">
      <div class="col-lg-5 col-md-5">
        <img src="assets\img\map.jpg" class="img-responsive img_kant">
      </div>
      <div class="col-lg-7 col-md-7">
        <div class="row no-margin">
          <div class="col-lg-8  col-md-8 no-padding">
            <select class="dropdown-toggle waves-light buttom_flight"
                    (change)="onChange($event)">
              <option value="" disabled selected>Выбрать рейс</option>
              <option [ngValue]="[voyage]" *ngFor="let voyage of voyages">
                {{voyage.name}}
              </option>
            </select>
          </div>
          <div class="col-lg-4 no-padding">
            <button class="btn btn-default buttom_exit" (click)="goGeneral()">Назад</button>
          </div>
        </div>
        <textarea class="blok_log" [(ngModel)]="this.logs" readonly>
        </textarea>
      </div>
    </div>
  </div>
</section>
